<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="FILE0" class="ch.qos.logback.core.FileAppender">
        <file>/tmp/web_automation.log</file>
        <encoder>
            <pattern>%d [%t] [%c:%L] %-5p - %m%n</pattern>
        </encoder>
    </appender>

    <root level="ERROR">
        <appender-ref ref="FILE0"/>
    </root>

    <appender name="FILE1" class="ch.qos.logback.core.FileAppender">
        <file>/tmp/web_automation_info.log</file>
        <encoder>
            <pattern>%d [%t] [%c:%L] %-5p - %m%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE1"/>
    </root>
</configuration>
